.contain
{
    display: flex;
    flex-direction:row;
    padding-top:1rem ;
    gap: 2rem;
}
.info>p{
    text-align: justify;
}
.container
{
    margin: 3rem 3rem 4.5rem 3rem;

}
.img >img{
    width: 35rem;
    height: 26rem;
}
.img{
justify-content: center;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 980px){
    .contain
    {
        flex-direction: column;
        gap: 0;
    }
    .container
    {    
        margin: 11vh 2rem;
    }
    .info>p
    {
        font-size: 1rem;
    }
    .img >img{
        width: 100%;
        height: 100%;
    }

}
@media screen and (max-width: 640px){
    .contain
    {
        flex-direction: column;
        gap: 0;
    }
    .container
    {    
        margin:8vh 1em;
    }
    .info>p
    {
        font-size: 0.6rem;
    }
    .img >img{
        width:100%;
        height: 100%;
    }
}