/* .container
{
    margin-top: rem;
   background-color: beige; 
}
.info
{
    padding: 1rem 0;
    margin: 0;
} */


.container
{
    display: flex;
    /* flex-direction: row;
    justify-content: center; */
    gap: 3rem;
    align-items: center;
    /* margin-top: 4rem; */
    /* background: linear-gradient(1deg,rgba(255,237,237,0.85) 0%, rgba(255,255,255,0) 14rem); */
    background-color: #f7ac7f;
    background-image: linear-gradient(135deg, #f7ac7f 0%, #ffffff 54%, #98f57f 100%);
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    /* bottom: 0;
    z-index: 10000; */
    
    padding: 6px 0;

    
}
.container>span
{
    color: var(--themeRed) !important;
}
.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
    cursor: pointer;
    width: 100px;
}
.logo>span
{
    font-weight: bold;
    font-size: 1.5rem;
}
.social
{
    display: flex;
    gap: 1rem;
    color: var(--themeRed) 
}
.social>*{
    fill:var(--themeRed);
    cursor: pointer;
}
@media only screen and (max-width: 729px) {
    .container
{
    /* margin-top: 1rem; */
    gap:.5rem;
    /* position: fixed; */
    bottom: 0;
    z-index: 10000;
    padding: 4px 0;

}
.container>span
{
    font-size: 8px;
}
.social
{
    gap:0.5rem;
}
.logo
{
    width: 90px;
}
}

/* Navbar */
.toogle
{
    border: none;
}
.toogle:active{
    border: none !important;
}