
.placeContainer
{
  /* margin-top: 2rem; */
}

.mainTitle{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}
.title{
  margin: 0 0 2rem 0 ;
}
.container{
  padding-bottom:0.8rem;
  float: left;
  width: 50%;
}
h3{
  font-size: 1.2rem;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 50%;
  }
  h3{
    font-size: 0.8rem;
  }
  h1{
    font-size: 1.2rem;
  }
  p{
    font-size: 0.6;
  }
  .title
  {
    font-size: 1.4rem;
    margin: 1rem;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  cursor: pointer;
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  padding-bottom: 1rem;
}

.content .content-overlay {
  /* background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s; */
}

.content:hover .content-overlay{
  opacity: 1;
  background-color: #1a1a1a49;
}

.contentImage{
  width: 100%;
  aspect-ratio: 3/2;
}

.contentDetails {
  
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .contentDetails{
  top: 50%;
  left: 50%;
  opacity: 1;
  background-color: #1a1a1ab2;
  
}

.contentDetails h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.contentDetails p{
  color: #fff;
  font-size: 0.8em;
}

.fadeInBottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}