.container
{
    display: flex;
    padding: 2rem;
    gap: 5rem;
    margin-top: 2.5rem ;
}
.imageWrapper
{
    position: relative;
    width:40%;
    height: 25rem;
    overflow: hidden;
    border-radius: 2rem;
}
.imageWrapper>span>img:hover
{
    transform: scale(1.1);
   /* transition: all 0.5s ease-in-out; */
}
.right
{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2.2rem;
    font-weight: bold;
}
.right>:nth-child(2)
{
    font-size: 1.2rem;
    font-weight: normal;
    color:var(--gray);
}
.quantity
{
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    gap:3rem;
}
.counter
{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
.btn
{
    font-weight: normal;
    padding: 0.5rem 1rem;
    font-size: 1rem;

}
@media only screen and (max-width: 900px) and (min-width: 730px)  {
    .container
    {
        padding: 10rem 2rem;
    }
    .imageWrapper
    {
        width:20rem;
        height: 20rem;
    }
    .right
    {
        font-size: 2rem;
        gap: 1rem;
    }
}