.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.logo
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex:1;
    cursor: pointer;
}
.logo>span{
    font-size: 1.5rem;
    font-weight: 600;
}
.menu
{
    flex: 1;
    display: flex;
    list-style: none;
    gap:2rem;
    justify-content: center;
    z-index: 99;
}
.menu>li:hover{
    cursor: pointer;
    color:red;
}
.rightSide
{
    flex:1;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}
.cart
{
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 99;
}
.badge
{
    position: absolute;
    display: flex;
    background-color: var(--themeRed);
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    right: -0.5rem;
}