.container
{
    display: flex;
    position: relative;

}
.left
{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.cherryDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: var(--pink);
    /* border: 1px solid black; */
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 0.8rem;
    color:var(--themeRed);
    font-weight: bold;
}
.heroText
{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: bold;

}
.miniText
{
    width: 70%;
    font-weight: 600;
    color: var(--gray);
}
.btn
{
    padding: 1rem 2.5rem;
}
.right
{
    position: relative;
}
.imageContainer
{
    width: 38rem;
    position: absolute;
    top:-5em;
    left: -5rem;
}
.ContactUs
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-radius: 5rem;;
    color: var(--themeRed);
    font-weight: 600;
    position: absolute;
    width: max-content;
    top: 6rem;
    gap: 1rem;
    box-shadow: var(--shadow);
}
.ContactUs>div
{
    background-color: rgb(71, 204, 71);
    border-radius: 50%;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}
.Pizza
{
    display: flex;
    gap: 1rem;
    background-color: white;
    box-shadow: var(--shadow);
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 4rem;
    left: 19rem;
    width: max-content;
}
.Pizza>:nth-child(1)
{
    width: 6rem;
    height: 4rem;
    border-radius: .5rem;
    overflow: hidden;
}
.Pizza>:nth-child(2)
{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: space-between;
}
.Pizza:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.ContactUs:hover
{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;   
}
@media only screen and (max-width: 900px) and (min-width: 730px)  {
    .heroText
    {
        font-size: 2rem;
    }
    .miniText
{
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    color: var(--gray);
    text-align: justify;
}
.right
{

    width: 60%;
}
.left
{
    width: 40%;
}
.imageContainer
{
    width: 28rem;
    position: absolute;
    left: 0rem;
    top: 0rem;
}
.Pizza
{
 left: 15rem; 
}
}